/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 /* Page Structure Styling */

 .main-wrapper{
  display: grid;
 }

 .body-wrapper{
   margin: 50px;
   margin-top: 80px;
   max-width: 1100px;
   width: 100%;
   justify-self: center;

 }

 /* Navbar styling */

 .page-header {
   background-color: skyblue;
   position: fixed;
   width: 100%;
   top: 0;
   display: flex;
   padding: 10px 40px;
   justify-content: space-between;
   align-items: center;
 }

 .logo {
   font-size: 30px;
   text-decoration: none;
   font-weight: 700;
   color: black;
   flex: 0 0 auto;
 }

 .page-navbar {
   display: flex;
   gap: 20px;
   align-items: center;
   justify-content: flex-end;
   width: 30%;
   flex: 0 0 auto;
 }

 .nav-link {
   display: block;
   text-decoration: none;
   font-weight: 700;
   color: black;
   font-size: 20px;
   flex: 0 0 auto;
 }

 .nav-link:hover, .logo:hover {
   color: lightseagreen
 }

 .create-event {
   border: 2px white solid;
   padding: 4px 8px;
   border-radius: 5px;
   margin-right: auto;
 }

#notice {
  background-color: lightgreen;
  padding: 10px;
  width: 100%;
}

 * {
   box-sizing: border-box;
 }